
  
  
  .link{
    text-decoration: none;
    color: rgb(77, 75, 75);
    font-size: 1.2rem;
  }

  .link:hover{
    color: rgb(19, 18, 18);
  }
  
  .menu {
    z-index: -3;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    height: 100vh;
    width: 100%;
    /* top: -100%; */
    opacity: 0;
    /* transition: all 600ms linear; */
  }
  
  .collapsed {
    z-index: 2;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    height: 100vh;
    width: 100%;
    top: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    /* transition: all 600ms linear; */
  }
  
  .modalDialog{
    width: 50% !important;
  }
  .overflow{
    overflow-y: auto !important;
  }

  @media screen and (max-width: 1400px) {
    .modalDialog{
      width: 75% !important;
      /* height: 96%; */
    }
  }

  @media screen and (max-width: 760px)  {
    .modalDialog{
      width: 90% !important;
    }
    .close{
      display: none !important;
    }
    .overflow{
      overflow-y: auto !important;
    }
    .modalDialog{
      height: 96% !important;
    }
  }

  /* .close{
    display: flex;
  } */