.position {
  top: 80px;
  transform: translateX(-30%);
  right: 0;
  color: #eee;
  padding: 1rem;
  background-color: rgba(49, 48, 48, 0.5);
  border-radius: 5px;
  width: 40vw;
}

.background{
  background-image: url(../../asstes/images/10026.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.height{
  height: 75vh;
}